:host {
  --image-wrapper-width: 800px;
  --image-wrapper-height: 400px;
  --image-transition-rotate: 0deg;
  --image-width: 100%;
}

.challenge {
  &__metadata {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  &__image-wrapper {
    overflow: hidden;
    width: var(--image-wrapper-width);
    height: var(--image-wrapper-height);
    position: relative;
  }

  &__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(var(--image-transition-rotate));
    transition: all 0.25s ease-in;
    width: var(--image-width);

    &:hover {
      --image-width: 120%;
      --image-transition-rotate: 20deg;
    }
  }
}
