.landing{
  .profile-image{
    transition: width $animationTiming, transform $animationTiming, opacity $animationTiming;
    margin-top: 1em;
    z-index:9999;
  }
  .profile-image-loading{
    width : 0em;
  }
  .profile-image-loaded{
    width: $profileImageLandingSize;
    transform: rotate(360deg);
  }
  .loading{
    transition: margin .5s;
    margin-top: -2.5em;
    circle{
      transition: stroke-width $animationTiming;
      stroke : $red !important;
    }
  }
  .loaded{
    margin-top: -13em;
    circle{
      stroke-width:0 !important;
    }
  }
  .loading-home{
    opacity: 0;
    transform: rotate(0deg);
  }
}
