.home{
  @extend .center-content;
  @extend .full-width;
  perspective: 1000px;

  .profile{
    padding:0.5em;
    &-image{
      width:8em;
      margin-right: 1em;
    }
    &-header{
      font-size: 2em;
      margin-top:0.5em;
    }

    &-subheader{
      margin-bottom:0.5em;
      font-size: 1.25em;
    }

    &-summary{
      @media(min-width: 640px){
        flex : 1;
      }
    }
  }
}
