.home{
  @extend .center-content;
  @extend .full-width;
  perspective: 1000px;

  .profile{
    padding:0.5em;
  }

  .profile-image{
    width:8em;
    margin-right: 1em;
  }
  .profile-header{
    font-size: 2em;
    margin-top:0.5em;
  }

  .profile-subheader{
    margin-bottom:0.5em;
    font-size: 1.25em;
  }

  .profile-summary{
    @media(min-width: 640px){
      flex : 1;
    }
  }
}
