#profile-picture{
  border-radius: 50%;
  max-width: 75%;
}

#profile-name{
  margin-bottom: 0;
}

#profile-job{
  margin-top: 0;
}

#github-contributions-img{
  overflow:scroll;
  background-color: rgba(0,0,0,0.5);
}

#github-contributions-header{
  margin: 0;
  font-size: 0.7em;
  margin-bottom: 1em;
  font-weight: 500;
}

.position-card{
  background-color: rgba(0, 0, 0, 0.5);
}

#job-history{
  .md-headline{
    margin-right:5px;
  }
  .position-show-summary{
    background-color: rgba(250,250,250,0.25);
    color: white;
  }
}
