div(layout="row" layout-sm="column" layout-align="space-around")
  md-progress-circular(md-mode="indeterminate" ng-hide="home.profile")
  div(flex="" ng-show="home.profile")
    div(layout="column" layout-wrap="" layout-align="space-around").text-center
      div(flex="")
        img(src="{{home.profile.pictureUrls.values[0]}}")#profile-picture
      h1(flex="" ng-bind="home.profile.formattedName")#profile-name.md-headline.text
      h2(flex="" ng-bind="home.profile.headline")#profile-job.md-subhead.text
      p(flex="" ng-bind="home.profile.summary").text
