.menu{
  background: $backgroundColor;
  border-bottom:1px solid $backgroundColor2;
  border-right:1px solid $backgroundColor2;
  height : 2.5em;

  .search-icon{
    font-size: 1.5em;
    margin-right: 0.5em;
  }

  .search-input{
    width : calc(100% - 4em);
    margin-right: 0.5em;
    height : calc(100% - 2px);
    border:none;
    font-size: 1.5em;
  }

  .actions-wrapper{
    background: white;
    padding: 0 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon{
    font-size: 2em;
  }
}
