.hide{
  display: none !important;
}

.blur-me{
  filter : blur(15px);
}

.full-size{
  transition: all $animationTimming $animationType;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
