html, body, #my-page{
  height:100%;
  width:100%;
}

#my-page > section{
  height: 100%;
  width:100%;
  .app{
    height:100%;
    width:calc(100% - 3em);

    & > .row{
      height: calc(100% - 2.9em);
      width:100%;
      margin:none;

      & > div{
        height: 100%;
        width:100%;

        & > div{
          height : 100%;
          width:100%;
        }
      }
    }
  }
}

body{
  background-color: $swamp;
  margin:0;
  font-family: sans-serif;
  font-weight: lighter;
  perspective: 200em;
}

.content{
  position: relative;
  overflow: hidden;
  padding: 0;

  div{
    overflow: auto;
  }

  @media only screen and (min-width: 62em){
    padding:0;
  }
  *{
    @media only screen and (min-width: 62em){
      font-size: 1em;
    }
    font-size : 0.85em;
    color : $gallery;
  }
}

.heading-big{
  @media only screen and (min-width: 62em){
    font-size: 2.5em;
  }
  font-size:1.5em;
  text-align: center;
}

.col{
  &-md-6{
    width : 50%;
  }
}

div[class^="col"]{
  padding : 0;
}

.row{
  margin : 0;
}

.app{
  margin-left: 3em;
}

.page-name{
  font-weight: lighter;
  font-size: 1.5em;
  margin: 0.5em 0;
  text-align: center;
}
