.loader{
  width:$loaderSize;
  height:$loaderSize;
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-wrap: wrap;
  transform: translate(-50%, -50%);
  z-index : 9999;
  .square{
    width: $loaderSquareSise;
    height : $loaderSquareSise;
    margin: $loaderSquareMargin;
    background-color: black;
    box-shadow: 0px 0px 5px black;
    border-radius: 0.25em;
    &:nth-child(1){
      animation: child-1 $animationTimming*4 $animationType infinite;
    }
    &:nth-child(2){
      animation: child-2 $animationTimming*4 $animationType infinite;
    }
    &:nth-child(3){
      animation: child-4 $animationTimming*4 $animationType infinite;
    }
    &:nth-child(4){
      animation: child-3 $animationTimming*4 $animationType infinite;
    }
  }
}

@keyframes child-1{
  0%, 100%{
    opacity : 0.75;
  }
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 0.25;
  }
  75%{
    opacity: 0;
  }
}

@keyframes child-2{
  75%{
    opacity : 0.75;
  }
  0%, 100%{
    opacity: 0.5;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0;
  }
}

@keyframes child-3{
  50%{
    opacity : 0.75;
  }
  75%{
    opacity: 0.5;
  }
  0%, 100%{
    opacity: 0.25;
  }
  25%{
    opacity: 0;
  }
}

@keyframes child-4{
  25%{
    opacity : 0.75;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.25;
  }
  0%, 100%{
    opacity: 0;
  }
}
