.menu-icon{
  display: inline-block;
  position: relative;
  min-width: $menuSize;
  min-height: $menuSize;
  z-index: 9999;
  position: absolute;
  top: 1em;
  left: 1em;
  &.open{
    align-content: center;
  }
  .bar{
    position: relative;
    transition: all $animationTimming $animationType;
    width: 100%;
    height: 0.3em;
    display: block;
    background-color: black;
    border-radius: 1em;
    margin:0.1em 0;
    &.rotate-left{
      position: absolute;
      transform: rotate(45deg);
      margin-top: 0.2em;
    }
    &.disappear{
      height: 0;
    }
    &.rotate-right{
      position: absolute;
      transform: rotate(-45deg);
    }
  }
}

.menu-opts{
  z-index: 9999;
  box-shadow: $menuBoxShadowLeft $menuBoxShadowTop $menuBoxShadowBlur $menuBoxShadowColor;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-content: space-around;
  justify-content: center;
  transition: all $animationTimming $animationType;
  transform: translateY(calc(100% - #{$menuBoxShadowTop}));
  &.open{
    transform: translateY(0%);
  }
  .opt{
    color: black;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    .icon{
      i{
        font-size: 4em;
      }
    }
    h3{
      margin: 0.25em 0;
    }
  }
}
