$backgroundColor : rgba(230, 243, 211, 0.5);
$backgroundColorNoOpacity : #edf6de;
$backgroundBorderColor : rgba(230, 243, 211, 1);
$backgroundColor2 : rgba(193, 208, 170, 0.5);

$defaultGreen :  rgba(144, 200, 63, 0.5);
$defaultLightGreen : rgb(248, 255, 240);

$fontColor : #354026;

$twitterColor : #1da1f2;
$linkedinColor : #1985bc;

$animationType : 0.5s ease;

$menuHeight : 400px;
