//Colors
$swamp : #00131A;
$astronautBlue : #004058;
$malibu :  #62D4FF;
$abbey : #464A4C;
$blueCharcoal : #021620;
$white : white;
$gallery : #EDEDED;
$dodgerBlue : #1da1f2;
$easternBlue : #1985bc;
$veniceBlue : #075379;

//Animation
$animationType : 0.5s ease;
$animationLeaveTopStart : 0;
$animationLeaveTopEnd : 800px;

//Menu
$menuHeight : 400px;
$menuOptionHeight : $menuHeight/3;

//Other
$postBorderRadius : 5px;
