$animationTimming : .25s;
$animationType : cubic-bezier(0,0,.77,.03);

//MENU VARIABLES
$menuSize : 2em;
$menuBoxShadowLeft : 0px;
$menuBoxShadowTop : -5px;
$menuBoxShadowBlur : 8px;
$menuBoxShadowColor : rgba(0, 0, 0, 0.3);

//LOADER VARIABLES
$loaderSize : 5em;
$loaderSquareSise : 2em;
$loaderSquareMargin : 0.25em;

//COLOR VAriables
$gray : #B1B1B1;

//TWEETER MARGIN
$tweetMargin : 15px;
$tweetSmall : 0.75em;
$tweetBorder : 1px solid #E1E8ED;
