@keyframes flip-cards{
  0%{
    transform: rotateX(90deg);
  }
  80%{
    transform: rotateX(-10deg);
  }
  90%{
    transform: rotateX(10deg);
  }
  90%{
    transform: rotateX(-5deg);
  }
  100%{
    transform: rotateX(0deg);
  }
}
