.card{
  border-radius: 0.25em;
  margin:1em 0;
  animation-name: flip-cards;
  animation-duration: $animationTiming;
  transition: transform $animationTiming, height $animationTiming;
  overflow: auto;
  .card-header{
    padding: 0.5em;
  }
  .card-header{
    color : $lightBlue;
    h2{
      font-weight: lighter;
      font-family: sans-serif;
      margin:0;
    }
  }
}

.almost-flip-card{
  transform: rotateX(-5deg);
}

.totally-flip-card{
  transform: rotateX(-90deg);
}

.card-option{
  flex : 1 auto;
  padding: 0.5em;
  font-size: 1em;
  transition: background $animationTiming cubic-bezier(0, 0, 0.2, 1);
  color : $blue;
  border:none;
  &:active{
    background: $strongPink;
  }
  &:not(:last-child){
    border-right: 2px solid $pink;
  }
}

.card-style-1{
  background-color: $pink;
  .card-header{
    background-color: $lightPink;
  }
  .card-option{
    background-color: $lightPink;
  }
}

.card-style-2{
  background-color: $orange;
  .card-header{
    background-color: $lightOrange;
  }
  .card-option{
    background-color: $lightOrange;
  }
}
