.container{
  display: flex;
}

.center-content{
  justify-content: center;
}

.center-me{
  align-self: center;
}

.center-items{
  align-items: center;
}

.column{
  @extend .container;
  flex-direction: column;
}

.row{
  @extend .container;
  flex-direction: row;
}

.wrap-content{
  flex-wrap:wrap;
}

.full-width{
  width: 100%;
  max-width: 960px;
}
