.container{
  display: flex;
}

.center-content{
  justify-content: center;
}

@media(min-width: 641px){
  .md{
    &-center-content{
      justify-content: center;
    }
    &-left-content{
      justify-content: flex-start;
    }
  }
}

@media(max-width: 640px){
  .sm{
    &-center-content{
      justify-content: center;
    }
    &-left-content{
      justify-content: flex-start;
    }
    &-hide{
      display: none;
    }
  }
}

.cell{
  flex:1;
}

.left-content{
  justify-content: flex-start;
}

.center-me{
  align-self: center;
}

.center-items{
  align-items: center;
}

.column{
  @extend .container;
  flex-direction: column;
}

.row{
  @extend .container;
  flex-direction: row;
}

.wrap-content{
  flex-wrap:wrap;
}

.full-width{
  width: 90%;
  max-width: 960px;
}
