.rounded{
  border-radius: 50%;
}

.center-text{
  text-align: center;
}

.hide{
  display: none;
}

.content{
  display: flex;
  justify-content: center;
}

.line:not(:last-child){
  margin-bottom: 15px;
}

.arrow {
  width: 1em;
  height: 1em;
  border-top: 0.5em solid black;
  border-right: 0.5em solid black;
  transform: rotate(45deg);
}

a{
  padding:0.25em 0.5em;
  color:$lightPurple;
  &:visited{
    color:$lightPurple;
  }
}
