/*
VARIABLES
*/
$animationTiming : .5s;
$profileImageLandingSize : 10.5em;

/*
COLOR_NAMES
*/
$blue : #27363B;
$red : #EB4960;
$lightBlue : #456069;
$orange : #FDCEAA;
$pink : #F4837D;
$lightPink : #fac6c4;
$strongPink : #ee4036;
