.blog{
  height: 100%;
  .posts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:0.5em;
    flex-direction: column;
    height: calc(100% - 1em);
    overflow: auto;

    & > a{
      width:calc(33% - 1em);
      margin : 0.5em;
      text-decoration: none;
    }

    .post{
      display: flex;
      flex-direction: column;

      &-image{
        max-height: 10em;
        overflow: hidden;
        display: flex;
        align-items: center;
        background: $defaultGreen;
        border-top-left-radius: $postBorderRadius;
        border-top-right-radius: $postBorderRadius;
        img{
          width:100%;
        }
      }

      &-info{
        display: flex;
        flex-direction: row;
        background-color: $backgroundColorStrongNoOpacity;
        border: 1px solid $defaultGreen;
        border-top: none;
        padding: 0.5em;
        border-bottom-left-radius: $postBorderRadius;
        border-bottom-right-radius: $postBorderRadius;

        &-main{
          width: 80%;
          h3{
            margin: 0;
            font-weight: lighter;
          }
        }

        &-logo{
          width:20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          i{
            font-size: 2em;
            padding: 0.2em;
            border-radius: 50%;
            background-color: $defaultGreen;
            width: 1em;
            height: 1em;
            text-align: center;
          }
        }
      }
    }
  }
}
