@import "app/common/styles/main";
@import "app/animations";
@import "app/loading/loading";
@import "app/home/home";

.center-text{
  text-align: center;
}

.hide{
  display: none;
}

.content{
  display: flex;
  justify-content: center;
}

body{
  background-color: $blue;
}
