.contact-me{
  position: fixed;
  height: 100%;
  background: $astronautBlue;
  top: 0;
  left: 0;
  min-width: 3em;
  text-align: center;
  border-right:1px solid $abbey;
  z-index:9999;

  a{
    text-decoration: none;
  }

  .logo{
    height: calc(2.5em - 1px);
    border-bottom:1px solid $abbey;
  }

  .contact-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 2.5em);
  }

  .contact-item{
    background: $malibu;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 0.5em;
    transition: transform $animationType;
    color: black;

    &-twitter{
      background: $dodgerBlue;
      color:white;
    }

    &-linkedin{
      background: $easternBlue;
      color:white;
    }

    &:hover{
      transform: rotate(360deg);
    }

    i{
      font-size: 20px;
    }
  }
}
