.contact-me{
  position: fixed;
  height: 100%;
  background: $backgroundColor;
  top: 0;
  left: 0;
  min-width: 3em;
  text-align: center;
  border:1px solid $backgroundBorderColor;
  a{
    text-decoration: none;
  }

  .contact-item{
    background: $defaultGreen;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 0.5em;
    transition: transform 0.5s ease;
    color: black;

    &-twitter{
      background: $twitterColor;
      color:white;
    }

    &-linkedin{
      background: $linkedinColor;
      color:white;
    }

    &:hover{
      transform: rotate(360deg);
    }

    i{
      font-size: 20px;
    }
  }
}
