.portfolio{
  &-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &-item{
    max-width:25%;
    margin:2%;
    position: relative;
    background-color: $gallery;
    padding:1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden !important;
    transition: all $animationType;

    *{
      color:$swamp;
    }

    &:hover{
      img{
        height:7em;
      }
    }

    &-img{
      height:10em;
      overflow: hidden !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5em;
      @media only screen and (min-width: 62em){
        height:5em;
        img{
          height: 5em;
        }
      }

      img{
        height:10em;
        transition: all $animationType;
      }
    }

    &-info{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      span{
        font-size: 1.5em;
        width: calc(100% - 1em);
        @media only screen and (min-width: 62em){
          font-size: 1em;
        }
      }
    }

    &-type{
      margin-right: 0.5em;
      font-size: 1.5em;
      width: 2em;
      text-align: center;
      @media only screen and (min-width: 62em){
        margin-right: 0.25em;
        font-size: 1em;
        width: 1.5em;
      }
    }

    a{
      text-decoration: none;
    }
  }
}
