.resume{
  @extend .full-width;
  @extend .center-content;

  .resume-content{
    padding:1em;
  }

  .resume-image{
    width:5em;
    height:5em;
    margin-right:1em;
  }

  .resume-contact{
    a{
      padding:0.25em 0.5em;
      color:$lightPurple;
      &:visited{
        color:$lightPurple;
      }
    }
  }

  .resume-header{
    h2, h3{
      padding-bottom:0.5em;
    }
  }
}
