.resume{
  @extend .full-width;
  @extend .center-content;

  .resume-content{
    padding:1em;
  }

  .resume-image{
    width:5em;
    height:5em;
    margin-right:1em;
  }

  .resume-contact{
    a{
      padding:0.25em 0.5em;
      color:$lightPurple;
      &:visited{
        color:$lightPurple;
      }
    }
  }

  .resume-header{
    h2, h3{
      padding-bottom:0.5em;
    }
  }

  .resume-title{
    border-bottom: 1px solid $blue;
    padding-bottom: 0.25em;
  }

  .resume-position{
    background-color: $lightOrange;
    padding:0.25em;
    padding-right: 1em;
    margin-top:0.25em;

    .position-arrow{
      margin-left: auto;
      align-self: center;
      border-color: $strongOrange;
    }

    .position-title, .position-company{
      font-weight: lighter;
    }
    .position-title{
      font-size: 1.25em;
    }
    .position-company{
      font-size:1em;
      small{
        margin-left: 10px;
      }
    }

    .position-summary{
      transition: max-height $animationTiming;
      font-size: 0.9em;
      max-height:0;
      padding:0px 10px;
      overflow: hidden;
      margin:0;
      &.active{
        max-height:100em;
      }

      .line:first-child{
        margin-top: 15px;
      }
    }

    &:hover{
      animation: bouncing-position-arrow 2s infinite;
    }
  }
}
